<%- include("partials/header")    %>
<div style="margin-top: 200px;" class="text-center">
<h1>Welcome to yelp camp!!!!</h1>

<a href="/campgrounds" class="btn btn-primary btn-lg">View Campgrounds</a>
</div>
<%- include("partials/footer")    %>